h2{
    text-align: center;
    font-size: 38px;
}

#heroRow, #villainRow{
    display: flex;
}

.hero img, .villain img {
    width: 250px;
    height: auto;
    margin: 0 auto;
}

.hero h3, .villain h3, .hero p, .villain p {
    text-align: center;
}

.hero-info, .villain-info {
    position: relative;
    background-color: #d52a30;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    z-index: 1;
}

.hero-info::before, .villain-info::before {
    content: "";
    position: absolute;
    top: -7px;
    left: -7px;
    right: 7px;
    bottom: 7px;
    background-color: white;
    border: 2px solid black;
    z-index: -1;
}



