#topInfoBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #8cba1a;
    border: 4px solid black;
    margin: 40px 40px 120px 40px;
}

#infoTextPart{
    padding: 40px;
}

h4{
    font-size: 30px;
}

#infoTextPart p {
    font-size: clamp(20px, 1.2vw, 26px); /* Minimum size of 18px, scales with viewport width, max size of 26px */
    padding-bottom: 30px;
}

#reviewButton{
    color: black;
    background-color: #f11d1d;
    font-size: 26px;
    padding: 25px 20px 20px 20px;
    border-radius: 20px;
    display: block;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition:transform .5s ease,color .5s ease;
}

#reviewButton:hover{
    transform:scale(1.2);
    color:#f3df5b;
}

#topInfoBox img{
    width: 80%;
    height: auto;
    margin: 40px 10% 40px 10%;
    border: 4px solid black;
}




h2{
    text-align: center;
    font-size: 38px;
}

#heroRow, #villainRow{
    display: flex;
}

.hero img, .villain img {
    transition:transform .5s ease;
}

.hero img:hover, .villain img:hover {
    transform:scale(1.1);
}

.hero h3, .villain h3, .hero p, .villain p {
    text-align: center;
}

.hero-info, .villain-info {
    position: relative;
    background-color: #d52a30;
    border: 2px solid black;
    padding: 10px 20px 20px 10px;
    margin: 30px 10px 10px 15px;
    text-align: center;
    z-index: 1;
}

.hero-info::before, .villain-info::before {
    content: "";
    position: absolute;
    top: -7px;
    left: -7px;
    right: 7px;
    bottom: 7px;
    background-color: white;
    border: 2px solid black;
    z-index: -1;
}



.slider{
    height: 600px;
    margin: auto;
    position: relative;
    width: 85%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track{
    display: flex;
    width: calc(300px * 20);
    animation: scroll 30s linear infinite;
}

.slide-track:hover{
    animation-play-state: paused;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-300px * 10));
    }
}

.slide{
    height: 600px;
    width: 300px;
    align-items: center;
    padding: 15px;
    margin: 20px;
}

.slide img{
    width: 100%;
}

.slider::before,
.slider::after{
    background: linear-gradient(to right, rgba(243,223,91,1) 0%, rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before{
    left: 0;
    top: 0;
}

.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}



#characterButton{
    color: black;
    background-color: #f11d1d;
    font-size: 38px;
    padding: 30px 20px 20px 20px;
    border-radius: 20px;
    margin: 30px 20px 80px 20px;
    display: block;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition:transform .5s ease,color .5s ease;
}

#characterButton:hover{
    transform:scale(1.2);
    color:#f3df5b;
}