h2{
    text-align: center;
    font-size: 38px;
}

#heroRow, #villainRow{
    display: flex;
}

.hero img, .villain img {
    width: 250px;
    height: auto;
    margin: 0 auto;
}

.hero h3, .villain h3, .hero p, .villain p {
    text-align: center;
}

.hero-info, .villain-info {
    position: relative;
    background-color: #d52a30;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    z-index: 1;
}

.hero-info::before, .villain-info::before {
    content: "";
    position: absolute;
    top: -7px;
    left: -7px;
    right: 7px;
    bottom: 7px;
    background-color: white;
    border: 2px solid black;
    z-index: -1;
}



.container{
    height: 100%;
    width: 100%;
    max-width: 768px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
}

.slider{
    height: fit;
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 25px;
}

.slider:before, .slider:after{
    content: "";
    position: absolute;
    height: fit;
    width: 150px;
    z-index: 2;
}

.slider:after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider:before{
    left: 0;
    top: 0;
}

.slider .track{
    display: flex;
    width: calc(150px * 12);
    animation: slide 15s 0.5s linear infinite;
}

.slider .hero{
    width: 150px;
    padding: 50px 25px;
    margin: 0 10px 0 10px;
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-150px * 6));
    }
}