h1{
    font-family: "Noto Serif Old Uyghur";
}

a{
    font-family: Rokkitt;
    text-decoration: none;
}

p{
    font-family: Montserrat;
}



:root{
    --background-gradient: linear-gradient(to right, #775d56, #d0a23f, #d0a23f, #d0a23f, #d0a23f, #2764ad, #2764ad, #2764ad, #2764ad, #2764ad, #2764ad, #775d56);
    --background-gradient-transparent: linear-gradient(to right, #775d56, #d0a23f, #d0a23f, #d0a23faa, #d0a23faa, #2764adaa, #2764adaa, #2764adaa, #2764ad, #2764ad, #2764ad, #775d56);
}

body{
    background-color:#080808;
}

#topbar{
    background: var(--background-gradient-transparent);
    display: flex;
}

#logo{
    margin: 20px;
}

#logo img{
    width: 100px;
    height: auto;
    transition: transform 0.5s ease;
}

#logo img:hover{
    transform: scale(1.1);
}

#title h1{
    font-size: 44px;
    margin-bottom: 0;
}

#title p{
    font-size: 18px;
    margin-top: 0;
}

.navigation{
    margin-left: auto;
    align-self: flex-end;
    display: flex;
}

.navigation a{
    margin-right: 20px;
    padding: 20px;
    font-size: 32px;
    color: black;
    transition: transform 0.5s ease, color 0.5s ease;
}

.navigation a:hover{
    transform: scale(1.2);
    color: #fdc85d;
}

picture{
    display: flex;
    justify-content: center;
}

#banner{
    width: 80%;
    height: auto;
    border-radius: 0px 0px 15px 15px;
    margin-top: -150px; 
    z-index: -1;
}

/*#boatButton{
    color:black;
    background: #2764ad;
    font-size: 26px;
    padding: 13px;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    bottom: 500px;
    right: 10%;
    z-index: 1;
}*/

footer{
    background: var(--background-gradient);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 10% 20px 10%;
}

#footerContact{
    grid-column: 1/2;
}

.baldText{
    font-weight: bold;
}

#footerLinks{
    grid-column: 2/3;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
}

footer a{
    padding: 10px;
}

footer a img{
    transition: transform 0.5s ease;
}

footer a img:hover{
    transform: scale(1.15);
}

#footerInfo{
    grid-column: 3/4;
    justify-self: end;
}