main {
	margin: 0 auto;
	max-width: 95%;
}

.menu {
	background-color: #bed;
	text-align: center;
}

.menu button {

}

section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #eee;
}

.directoryGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	grid-gap: 20px;
}

.directoryGrid section {
	text-align: center;
}

.directoryGrid img {
	box-shadow: 0 0 10px #333;
}

.directoryGrid h3 {

}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section img {
	display: none;
}

.list section h3 {

}

.list section:nth-child(even) {
	background-color: #bed;
}

section h3 {

}

section p {

}

section a {
	color: navy;
	letter-spacing: 1.1pt;
}

img {
	height: 200px;
	width: auto;
}