:root{
    --grid-gradient: linear-gradient(135deg, #775d56, #eee, #eee, #eee, #775d56);
    --grid-gradient-selected: linear-gradient(135deg, #d0a23f, #eee, #eee, #eee, #d0a23f);
}

main {
	margin: 0 auto;
	max-width: 95%;
    margin-bottom: 60px;
}

h2{
    color: white;
    margin-top:80px;
    font-size: 60px;
    letter-spacing: 3pt;
}

.menu {
	text-align: center;
    margin: 40px;
}

.menu img {
    font-size: 50px;
    border-radius: 5px;
    transition: opacity 0.5s ease;
    margin-left: 15px;
    margin-right: 15px;
}

.menu img:hover {
    opacity: 0.5;
}

section{
    align-items: center
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	grid-gap: 50px;
}

.grid section {
	text-align: center;
    background: var(--grid-gradient);
    transition: transform 0.5s ease;
    padding: 20px;
}

.grid section:hover {
    transform: scale(1.07);
    background: var(--grid-gradient-selected);
}

.grid img {
	box-shadow: 0 0 10px #333;
}

.grid h3 {
    font-size: 26px;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 15px;
}

.list section img {
	display: none;
}

.list section:nth-child(odd) {
	background-color: #eee;
}

.list section:nth-child(even) {
	background-color: #e6d1cc;
}

section a {
	color: navy;
	letter-spacing: 1.1pt;
}

article img {
	height: 200px;
	width: auto;
}