:root {
    --background-gradient-h3:linear-gradient(70deg,#d0a23f,#d0a23f,#d0a23f,#d0a23f,#2764ad,#2764ad,#2764ad,#2764ad);
    --grid-gradient:linear-gradient(135deg,#928c8b,#eee,#eee,#eee,#928c8b);
}

main{
    margin:0 auto;
    max-width:95%;
    margin-bottom:60px
}

h2{
    font-size:60px;
    color:#fff;
}

#topInfo{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
}

section{
    background:var(--grid-gradient);
}

section p, section img, section a{
    padding-left: 20px;
    padding-right: 20px;
}

#topInfo h3{
    background:var(--background-gradient-h3);
}

h3{
    margin: 0px;
    padding: 15px;
    font-size: 26px;
}

#currentWeatherInfo{
    display: flex;
}

#weatherIcon{
    height: 75px;
    width: auto;
}

#currentTemp{
    line-height: 1.7;
}

#featuredBusinesses{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(500px,1fr));
    grid-gap:50px;
    margin-top: 60px;
}

#featuredBusinesses section{
    border-radius: 10px;
}

#featuredBusinesses>section>div{
    display: flex;
}

#featuredBusinesses h3{
    text-align: center;
}

#featuredBusinesses img{
    height: 120px;
    width: auto;
    padding: 18px;
}

#featuredBusinesses p, #featuredBusinesses a{
    color: black;
    font-size: 16px;
}